.active {
  -webkit-box-shadow: 9px 13px 53px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 13px 53px 2px rgba(0,0,0,0.75);
box-shadow: 9px 13px 53px 2px rgba(0,0,0,0.75);
z-index: 3;
}

.form-inline{
  margin-left: 300px;
}